html {
  font-size: 16px;
}

body {
  background-color: #f5f2f2;
  color: #01010a;
  line-height: 1.5;
  font-family: 'Open Sans', sans-serif;
}

#navbar {
  position: fixed;
  min-width: 18.12rem;
  top: 0px;
  left: 0px;
  width: 18.75rem;
  height: 100%;
  border-right: solid;
  border-color: rgba(4, 59, 92, 0.8);
}

header {
  margin: 0.8rem;
  padding-left: 1rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}

#navbar > ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar > ul > li {
  list-style: none;
  padding: 0.4rem 1.8rem;
  border-top: 0.1rem solid;
}

#navbar > ul > li:last-of-type {
  border-bottom: 0.1rem solid;
}

#navbar > ul > li > a {
  text-decoration: none;
  color: #01010a;
  cursor: pointer;
}

#main-doc {
  position: absolute;
  margin-left: 20rem;
  margin-right: 2rem;
  margin-top: 0.7rem;
}

#main-doc header {
  margin-left: 0;
  padding-left: 0;
}

section > article {
  margin: 0.93rem;
  font-size: 0.9rem;
}

section > article > ul {
  padding-left: 0;
}

section > article > ul > li {
  list-style: none;
}

code {
  display: block;
  padding: 0 0.7 1.2rem 0.7rem;
  text-align: left;
  white-space: pre-line;
  position: relative;
  background-color: #ede8e8;
  word-break: normal;
  word-wrap: normal;
  overflow-wrap: break-word;
  margin: 0.62rem;
  border-radius: 0.4rem;
}

.code-inline {
  display: inline;
  margin: 0;
  padding: 0.1rem;
}
